{% extends "lookup_hub/base.html" %}
{% load static %}


{% block title %}Dictionary: {{ dictionary.name_verbose }}{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'lookup_hub/style/hub.css' %}?{% now ''='u' %}">
{% endblock %}


{% block header_scripts %}
<script type="application/javascript">
    const socketType = window.location.protocol === "https:" ? "wss" : "ws";
    const portNumber = socketType === "wss" ? ":7998" : ":8000";
</script>
{{ dictionary|json_script:"dictionary-info" }}
<script>
    const dictionaryInfo = JSON.parse(document.getElementById('dictionary-info').textContent);
    var dictionaryData;
    var rowSocket;
    var catSocket;
</script>
{% endblock %}


{% block scripts %}
<script src="{% static 'lookup_hub/scripts/dictionary.js' %}?{% now 'v=u' %}"></script>
<script src="{% static 'lookup_hub/scripts/rowSocket.js' %}?{% now 'v=u' %}"></script>
<script src="{% static 'lookup_hub/scripts/catSocket.js' %}?{% now 'v=u' %}"></script>
<script src="{% static 'lookup_hub/scripts/rubbish.js' %}?{% now 'v=u' %}"></script>
{% endblock %}


{% block right_buttons %}
<div class="navigator-button-right">
</div>
{% endblock %}

{% block header %}{{ dictionary.name_verbose }}{% endblock %}

{% block toolbox %}
<button class="toolbox-button" onclick="sockReadDeleted();">
    <i class="fas fa-trash"></i> Deleted Items
</button>

{% if show_backup_button %}
<button id="download-backup-button" class="toolbox-button" onclick="downloadBackup();">
    <i class="far fa-save"></i> Backup
</button>
{% endif %}

{% endblock %}

{% block body %}
<div id="loading-dictionary-popup">
    <div id="loading-dictionary-text-wrapper">
        <span>Loading dictionary...</span>
    </div>
</div>
<table id="hub-table">
    <thead class="grid-elem de">
        <th></th>
        <th></th>
        <th class="text-cell hub-header ">
            German
        </th>
        <th class="text-cell hub-header">
            English
        </th>
        <th class="text-cell hub-header ">
            Dutch
        </th>
        <th class="empty"></th>
    </thead>
</table>
{% endblock %}


{% block popups %}
<div class="popup" id="edit-category-form">
    <div id="cat-name-row">
        <div>Category name:</div>
        <div class="input-wrapper">
            <input class="wide-input" type="text" id="category-name">
        </div>
    </div>

    <div class="button-row">
        <button id="submit-category-button">
            <i class="fas fa-check"></i>
            Submit
        </button>
        <button onclick="$('#popup-container').hide();">
            <i class="fas fa-times"></i>
            Cancel
        </button>
    </div>

    <div class="id-row">Category ID: <span id="cat-id"></span></div>
</div>

<div class="popup" id="edit-row-cells-form">
    <div id="edit-entry-grid">
        <div class="edit-entry-header edit-entry-grid-elem header-de">
            DE
        </div>
        <div class="edit-entry-header edit-entry-grid-elem header-en">
            EN
        </div>
        <div class="edit-entry-header edit-entry-grid-elem header-nl">
            NL
        </div>

        <div class="edit-entry-row edit-entry-grid-elem row-de">
            <input type="text" name="text-de" id="text-de">
        </div>
        <div class="edit-entry-row edit-entry-grid-elem row-en">
            <input type="text" name="text-en" id="text-en">
        </div>
        <div class="edit-entry-row edit-entry-grid-elem row-nl">
            <input type="text" name="text-nl" id="text-nl">
        </div>

        <div class="edit-entry-row edit-entry-grid-elem row-de">
            <textarea name="comment-de" id="comment-de" rows="10"></textarea>
        </div>
        <div class="edit-entry-row edit-entry-grid-elem row-en">
            <textarea name="comment-en" id="comment-en" rows="10"></textarea>
        </div>
        <div class="edit-entry-row edit-entry-grid-elem row-nl">
            <textarea name="comment-nl" id="comment-nl" rows="10"></textarea>
        </div>

        <div class="edit-entry-row edit-entry-grid-elem row-de">
            <input type="color" id="colour-de" value="#FFFFFF">
        </div>
        <div class="edit-entry-row edit-entry-grid-elem row-en">
            <input type="color" id="colour-en" value="#FFFFFF">
        </div>
        <div class="edit-entry-row edit-entry-grid-elem row-nl">
            <input type="color" id="colour-nl" value="#FFFFFF">
        </div>

        <div class="button-row">
            <button id="submit-row-button">
                <i class="fas fa-check"></i>
                Submit
            </button>
            <button onclick="$('#popup-container').hide();">
                <i class="fas fa-times"></i>
                Cancel
            </button>
        </div>

        <div class="id-row">Row ID: <span id="row-id"></span></div>
    </div>
</div>

<div class="popup" id="rubbish-popup">
    <table id="rubbish-table">
        <thead>
            <th class="rubbish-wide">DE</th>
            <th class="rubbish-wide">EN</th>
            <th class="rubbish-wide">NL</th>
            <th class="rubbish-normal-width">Category</th>
            <th class="rubbish-normal-width">Deleted on</th>
            <th class="rubbish-actions">Actions</th>
        </thead>
        <tbody id="rubbish-table-body"></tbody>
    </table>
</div>

{% if show_backup_button %}
<div class="popup">
    <a id="get-backup-link" href="/backup" download="hub_backup.json">Backup</a>
</div>
{% endif %}

{% endblock %}